body {
    width: 8.5in;
     height: 11.0in;
     padding: 0.5in;
     font-family: 'Roboto Slab', serif;
     font-weight: 400;
     background-color: white;
     color: #212529;
  }

  h1 {
    font-size: 24pt;
    color: dodgerblue;
  }

  h2 {
    font-size: 16pt;
    color: dodgerblue;
    margin-top: -3pt;
    margin-bottom: 8pt;
  }

  h3 {
    font-size: 10pt;
    margin-top: -4pt;
  }

  h4 {
    font-size: 10pt;
    color: gray;
  }

  ul {
    font-size: 10pt;
    margin-top: -4pt;
    margin-bottom: 6pt;
    list-style-type: none;
  }

  .contact-info {
    font-size: 10pt;
  }

  .indented-rows .row {
    margin-left: 10pt;
  }

  .skills-and-interests {
    padding-left: 12pt;
  }

  .card {
    margin-bottom: 10pt;
    padding: 10pt;
  }